<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
    <h1>About Mason Tuft</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/products">Products</a></li>
        </ul>
    </nav>
    <img src="images/mason.jpeg" class="portrait-frame" alt="Mason and his wife smile while standing together with her bouquet in a colorful flower garden outside a large building, creating a joyful wedding portrait"></img>
    <p>Hello I am Mason Tuft! I am an Idaho native born and raised in Nampa Idaho. I recently married my wife in April of 2026! She is a radiation therapist at EIRMC in Idaho Falls! We live in Idaho Falls and are enjoying life.</p>
    <h3>Hobbies:</h3>
    <ul>
        <li>Mountain Biking</li>
        <li>Skiing</li>
        <li>OneWheel Riding</li>
        <li>Outdoor Activities (anything you can think of except for hunting)</li>
    </ul>
</body>
</html>